
bin/Debug/net5.0/ref/WarWolfWorks-x-Stride.dll
bin/Debug/net5.0/WarWolfWorks-x-Stride.deps.json
bin/Debug/net5.0/WarWolfWorks-x-Stride.dll
bin/Debug/net5.0/WarWolfWorks-x-Stride.pdb
obj/Debug/net5.0/ref/WarWolfWorks-x-Stride.dll
obj/Debug/net5.0/StrideReferences.cache
obj/Debug/net5.0/WarWolfWorks-x-Stride.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/WarWolfWorks-x-Stride.csproj.FileListAbsolute.txt
obj/Debug/net5.0/WarWolfWorks-x-Stride.dll
obj/Debug/net5.0/WarWolfWorks-x-Stride.pdb
obj/Debug/net5.0/WarWolfWorks-x-Stride.sdserializationhash
.vs/WarWolfWorks-x-Stride/v16/.suo
WarWolfWorks-x-Stride/obj/project.nuget.cache
WarWolfWorks-x-Stride/obj/project.assets.json
WarWolfWorks-x-Stride/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
WarWolfWorks-x-Stride/obj/Debug/net5.0/WarWolfWorks-x-Stride.AssemblyInfo.cs
WarWolfWorks-x-Stride/obj/Debug/net5.0/WarWolfWorks-x-Stride.assets.cache
WarWolfWorks-x-Stride/obj/Debug/net5.0/StrideReferences.cache
WarWolfWorks-x-Stride/obj/Debug/net5.0/WarWolfWorks-x-Stride.AssemblyInfoInputs.cache
WarWolfWorks-x-Stride/obj/Debug/net5.0/WarWolfWorks-x-Stride.csproj.AssemblyReference.cache
WarWolfWorks-x-Stride/obj/Debug/net5.0/WarWolfWorks-x-Stride.csproj.CoreCompileInputs.cache
WarWolfWorks-x-Stride/obj/Debug/net5.0/WarWolfWorks-x-Stride.csproj.FileListAbsolute.txt
WarWolfWorks-x-Stride/obj/Debug/net5.0/WarWolfWorks-x-Stride.dll
WarWolfWorks-x-Stride/obj/Debug/net5.0/WarWolfWorks-x-Stride.GeneratedMSBuildEditorConfig.editorconfig
WarWolfWorks-x-Stride/obj/Debug/net5.0/WarWolfWorks-x-Stride.pdb
WarWolfWorks-x-Stride/obj/Debug/net5.0/ref/WarWolfWorks-x-Stride.dll
WarWolfWorks-x-Stride/obj/Debug/net5.0/WarWolfWorks-x-Stride.sdserializationhash
WarWolfWorks-x-Stride/obj/WarWolfWorks-x-Stride.csproj.nuget.dgspec.json
WarWolfWorks-x-Stride/obj/WarWolfWorks-x-Stride.csproj.nuget.g.props
WarWolfWorks-x-Stride/obj/WarWolfWorks-x-Stride.csproj.nuget.g.targets
