
bin/Debug/net5.0/ref/WarWolfWorks-x-Stride.dll
bin/Debug/net5.0/WarWolfWorks-x-Stride.deps.json
bin/Debug/net5.0/WarWolfWorks-x-Stride.dll
bin/Debug/net5.0/WarWolfWorks-x-Stride.pdb
obj/Debug/net5.0/ref/WarWolfWorks-x-Stride.dll
obj/Debug/net5.0/StrideReferences.cache
obj/Debug/net5.0/WarWolfWorks-x-Stride.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/WarWolfWorks-x-Stride.csproj.FileListAbsolute.txt
obj/Debug/net5.0/WarWolfWorks-x-Stride.dll
obj/Debug/net5.0/WarWolfWorks-x-Stride.pdb
obj/Debug/net5.0/WarWolfWorks-x-Stride.sdserializationhash
