
bin/Debug/net5.0/ref/WarWolfWorks-x-Stride.dll
bin/Debug/net5.0/WarWolfWorks-x-Stride.deps.json
bin/Debug/net5.0/WarWolfWorks-x-Stride.dll
bin/Debug/net5.0/WarWolfWorks-x-Stride.pdb
obj/Debug/net5.0/ref/WarWolfWorks-x-Stride.dll
obj/Debug/net5.0/StrideReferences.cache
obj/Debug/net5.0/WarWolfWorks-x-Stride.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/WarWolfWorks-x-Stride.csproj.FileListAbsolute.txt
obj/Debug/net5.0/WarWolfWorks-x-Stride.dll
obj/Debug/net5.0/WarWolfWorks-x-Stride.pdb
obj/Debug/net5.0/WarWolfWorks-x-Stride.sdserializationhash
.vs/WarWolfWorks-x-Stride/v16/.suo
WarWolfWorks-x-Stride/obj/project.nuget.cache
WarWolfWorks-x-Stride/obj/project.assets.json
WarWolfWorks-x-Stride/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
WarWolfWorks-x-Stride/obj/Debug/net5.0/WarWolfWorks-x-Stride.AssemblyInfo.cs
WarWolfWorks-x-Stride/obj/Debug/net5.0/WarWolfWorks-x-Stride.assets.cache
WarWolfWorks-x-Stride/obj/Debug/net5.0/StrideReferences.cache
WarWolfWorks-x-Stride/obj/Debug/net5.0/WarWolfWorks-x-Stride.AssemblyInfoInputs.cache
WarWolfWorks-x-Stride/obj/Debug/net5.0/WarWolfWorks-x-Stride.csproj.AssemblyReference.cache
WarWolfWorks-x-Stride/obj/Debug/net5.0/WarWolfWorks-x-Stride.csproj.CoreCompileInputs.cache
WarWolfWorks-x-Stride/obj/Debug/net5.0/WarWolfWorks-x-Stride.csproj.FileListAbsolute.txt
WarWolfWorks-x-Stride/obj/Debug/net5.0/WarWolfWorks-x-Stride.dll
WarWolfWorks-x-Stride/obj/Debug/net5.0/WarWolfWorks-x-Stride.GeneratedMSBuildEditorConfig.editorconfig
WarWolfWorks-x-Stride/obj/Debug/net5.0/WarWolfWorks-x-Stride.pdb
WarWolfWorks-x-Stride/obj/Debug/net5.0/ref/WarWolfWorks-x-Stride.dll
WarWolfWorks-x-Stride/obj/Debug/net5.0/WarWolfWorks-x-Stride.sdserializationhash
WarWolfWorks-x-Stride/obj/WarWolfWorks-x-Stride.csproj.nuget.dgspec.json
WarWolfWorks-x-Stride/obj/WarWolfWorks-x-Stride.csproj.nuget.g.props
WarWolfWorks-x-Stride/obj/WarWolfWorks-x-Stride.csproj.nuget.g.targets
.vs/WarWolfWorksxS/v17/.suo
*.v2
.vs/WarWolfWorksxS/v16/.suo
*.v1
WarWolfWorksxS/bin/Debug/net5.0-windows/linux-x64/glslangValidator.bin
WarWolfWorksxS/bin/Debug/net5.0-windows/osx-x64/glslangValidator.bin
WarWolfWorksxS/bin/Debug/net5.0-windows/ref/WarWolfWorksxS.dll
WarWolfWorksxS/bin/Debug/net5.0-windows/Stride.Assets.ssdeps
WarWolfWorksxS/bin/Debug/net5.0-windows/Stride.Audio.ssdeps
WarWolfWorksxS/bin/Debug/net5.0-windows/Stride.Core.ssdeps
WarWolfWorksxS/bin/Debug/net5.0-windows/Stride.Graphics.ssdeps
WarWolfWorksxS/bin/Debug/net5.0-windows/Stride.Native.ssdeps
WarWolfWorksxS/bin/Debug/net5.0-windows/Stride.Navigation.ssdeps
WarWolfWorksxS/bin/Debug/net5.0-windows/Stride.Physics.ssdeps
WarWolfWorksxS/bin/Debug/net5.0-windows/Stride.Shaders.Compiler.ssdeps
WarWolfWorksxS/bin/Debug/net5.0-windows/Stride.TextureConverter.ssdeps
WarWolfWorksxS/bin/Debug/net5.0-windows/Stride.Video.ssdeps
WarWolfWorksxS/bin/Debug/net5.0-windows/Stride.VirtualReality.ssdeps
WarWolfWorksxS/bin/Debug/net5.0-windows/WarWolfWorksxS.deps.json
WarWolfWorksxS/bin/Debug/net5.0-windows/WarWolfWorksxS.dll
WarWolfWorksxS/bin/Debug/net5.0-windows/WarWolfWorksxS.pdb
WarWolfWorksxS/bin/Debug/net5.0-windows/WarWolfWorksxS.xml
WarWolfWorksxS/bin/Debug/net5.0-windows/win-x64/glslangValidator.exe
WarWolfWorksxS/bin/Debug/net5.0/ref/WarWolfWorks-x-Stride.dll
WarWolfWorksxS/bin/Debug/net5.0/ref/WarWolfWorksxS.dll
WarWolfWorksxS/bin/Debug/net5.0/WarWolfWorks-x-Stride.deps.json
WarWolfWorksxS/bin/Debug/net5.0/WarWolfWorks-x-Stride.dll
WarWolfWorksxS/bin/Debug/net5.0/WarWolfWorks-x-Stride.pdb
WarWolfWorksxS/bin/Debug/net5.0/WarWolfWorks-x-Stride.xml
WarWolfWorksxS/bin/Debug/net5.0/WarWolfWorksxS.deps.json
WarWolfWorksxS/bin/Debug/net5.0/WarWolfWorksxS.dll
WarWolfWorksxS/bin/Debug/net5.0/WarWolfWorksxS.pdb
WarWolfWorksxS/bin/Debug/net5.0/WarWolfWorksxS.xml
WarWolfWorksxS/obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
WarWolfWorksxS/obj/Debug/net5.0-windows/ref/WarWolfWorksxS.dll
WarWolfWorksxS/obj/Debug/net5.0-windows/StrideReferences.cache
WarWolfWorksxS/obj/Debug/net5.0-windows/WarWolfWorksxS.AssemblyInfo.cs
WarWolfWorksxS/obj/Debug/net5.0-windows/WarWolfWorksxS.AssemblyInfoInputs.cache
WarWolfWorksxS/obj/Debug/net5.0-windows/WarWolfWorksxS.assets.cache
WarWolfWorksxS/obj/Debug/net5.0-windows/WarWolfWorksxS.csproj.AssemblyReference.cache
WarWolfWorksxS/obj/Debug/net5.0-windows/WarWolfWorksxS.csproj.CoreCompileInputs.cache
WarWolfWorksxS/obj/Debug/net5.0-windows/WarWolfWorksxS.csproj.FileListAbsolute.txt
WarWolfWorksxS/obj/Debug/net5.0-windows/WarWolfWorksxS.dll
WarWolfWorksxS/obj/Debug/net5.0-windows/WarWolfWorksxS.GeneratedMSBuildEditorConfig.editorconfig
WarWolfWorksxS/obj/Debug/net5.0-windows/WarWolfWorksxS.pdb
WarWolfWorksxS/obj/Debug/net5.0-windows/WarWolfWorksxS.sdserializationhash
WarWolfWorksxS/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
WarWolfWorksxS/obj/Debug/net5.0/ref/WarWolfWorks-x-Stride.dll
WarWolfWorksxS/obj/Debug/net5.0/ref/WarWolfWorksxS.dll
WarWolfWorksxS/obj/Debug/net5.0/StrideReferences.cache
WarWolfWorksxS/obj/Debug/net5.0/WarWolfWorks-x-Stride.AssemblyInfo.cs
WarWolfWorksxS/obj/Debug/net5.0/WarWolfWorks-x-Stride.AssemblyInfoInputs.cache
WarWolfWorksxS/obj/Debug/net5.0/WarWolfWorks-x-Stride.assets.cache
WarWolfWorksxS/obj/Debug/net5.0/WarWolfWorks-x-Stride.csproj.AssemblyReference.cache
WarWolfWorksxS/obj/Debug/net5.0/WarWolfWorks-x-Stride.csproj.CoreCompileInputs.cache
WarWolfWorksxS/obj/Debug/net5.0/WarWolfWorks-x-Stride.csproj.FileListAbsolute.txt
WarWolfWorksxS/obj/Debug/net5.0/WarWolfWorks-x-Stride.dll
WarWolfWorksxS/obj/Debug/net5.0/WarWolfWorks-x-Stride.GeneratedMSBuildEditorConfig.editorconfig
WarWolfWorksxS/obj/Debug/net5.0/WarWolfWorks-x-Stride.pdb
WarWolfWorksxS/obj/Debug/net5.0/WarWolfWorks-x-Stride.sdserializationhash
WarWolfWorksxS/obj/Debug/net5.0/WarWolfWorksxS.AssemblyInfo.cs
WarWolfWorksxS/obj/Debug/net5.0/WarWolfWorksxS.AssemblyInfoInputs.cache
WarWolfWorksxS/obj/Debug/net5.0/WarWolfWorksxS.assets.cache
WarWolfWorksxS/obj/Debug/net5.0/WarWolfWorksxS.csproj.AssemblyReference.cache
WarWolfWorksxS/obj/Debug/net5.0/WarWolfWorksxS.csproj.CoreCompileInputs.cache
WarWolfWorksxS/obj/Debug/net5.0/WarWolfWorksxS.csproj.FileListAbsolute.txt
WarWolfWorksxS/obj/Debug/net5.0/WarWolfWorksxS.dll
WarWolfWorksxS/obj/Debug/net5.0/WarWolfWorksxS.GeneratedMSBuildEditorConfig.editorconfig
WarWolfWorksxS/obj/Debug/net5.0/WarWolfWorksxS.pdb
WarWolfWorksxS/obj/Debug/net5.0/WarWolfWorksxS.sdserializationhash
WarWolfWorksxS/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WarWolfWorksxS/obj/Debug/net6.0/WarWolfWorksxS.AssemblyInfo.cs
WarWolfWorksxS/obj/Debug/net6.0/WarWolfWorksxS.AssemblyInfoInputs.cache
WarWolfWorksxS/obj/Debug/net6.0/WarWolfWorksxS.assets.cache
WarWolfWorksxS/obj/Debug/net6.0/WarWolfWorksxS.csproj.AssemblyReference.cache
WarWolfWorksxS/obj/Debug/net6.0/WarWolfWorksxS.GeneratedMSBuildEditorConfig.editorconfig
WarWolfWorksxS/obj/Debug/net6.0/WarWolfWorksxS.ImplicitNamespaceImports.cs
WarWolfWorksxS/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
WarWolfWorksxS/obj/Debug/netcoreapp3.1/WarWolfWorksxS.AssemblyInfo.cs
WarWolfWorksxS/obj/Debug/netcoreapp3.1/WarWolfWorksxS.AssemblyInfoInputs.cache
WarWolfWorksxS/obj/Debug/netcoreapp3.1/WarWolfWorksxS.assets.cache
WarWolfWorksxS/obj/Debug/netcoreapp3.1/WarWolfWorksxS.csproj.AssemblyReference.cache
WarWolfWorksxS/obj/Debug/netcoreapp3.1/WarWolfWorksxS.GeneratedMSBuildEditorConfig.editorconfig
WarWolfWorksxS/obj/project.assets.json
WarWolfWorksxS/obj/project.nuget.cache
WarWolfWorksxS/obj/WarWolfWorks-x-Stride.csproj.nuget.dgspec.json
WarWolfWorksxS/obj/WarWolfWorks-x-Stride.csproj.nuget.g.props
WarWolfWorksxS/obj/WarWolfWorks-x-Stride.csproj.nuget.g.targets
WarWolfWorksxS/obj/WarWolfWorksxS.csproj.nuget.dgspec.json
WarWolfWorksxS/obj/WarWolfWorksxS.csproj.nuget.g.props
WarWolfWorksxS/obj/WarWolfWorksxS.csproj.nuget.g.targets
WarWolfWorksxS/WarWolfWorksxS.xml
WarWolfWorksxS/WarWolfWorksxS.usrdoc
